

body {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgb(43, 70, 101);
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    color: white;
}

#course-title {
    display: block;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.top-nav {
    background-color: rgb(25, 20, 44);
    font-weight: 600;
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
}

.top-nav a {
    display: block;
    padding: 5px 0 5px 0;
    width: 100%;
    text-decoration: none;
    color: white;
}

.top-nav a:hover {
    color: black;
    background-color: white;
}

main {
    background-color: rgb(176, 176, 176);
    padding: 15px;
}

main h1 {
    text-align: center;
} 

#about {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#about img {
    max-width: 80%;
    display: block;
    margin: auto;
}

#about h3 {
    text-align: center;
    border-bottom: 1px solid;
}

#about a {
    display: block;
    text-align: center;
}

.card {
    border-radius: 5px;
    background-color: white;
}

.card div {
    padding: 10px;
}

h2 {
    background-color: rgb(25, 20, 44);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    color: white;
    text-align: center;
}

.link_list {
    padding-right: 1rem;
}

footer {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
}

#lastModified {
    font-style: Italic;
}

@media (min-width: 480px) {

    body {
        max-width: 900px;
        margin: auto;
    }

    .top-nav {
        display: flex;
        font-size: small;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    main h1 {
        grid-column: 1 / 4;
    }

    main section:first-of-type {
        grid-column: 1 / 3;
    }

    h1 {
        font-size:large;
    }

    h2 {
        font-size: medium;
        margin: 0;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: auto auto auto;
    }

    #about p:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #myphoto {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #about h3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #costaRica {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        display: flex;
    }

    #costaRica a {
        font-size: smaller;
        padding-top: 10px;
    }
    #costaRica p{
        max-width: 70%;
        margin: 0;
        font-size: small;
    }


}