body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    max-width: 900px;
}

header, footer {
    background-color: brown;
    margin: 0;
}

footer {
    padding: 1rem;
}

footer p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.logo {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

nav {
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    color: white;
    background: none;
    position: absolute;
    text-align: center;
    top: 1rem;
    right: 1rem;
    width: 50px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}

.navigation a {
    display: none;
    padding: 0.5rem;
    max-width: 100px;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: rgb(248, 116, 116);
    color:black;
    font-weight: 700;
}

.open a {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.templeList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-content: center;
    max-width: 800px;
}

figure img {
    width: 100%;
    height: auto;
    border: 2px solid;
}

figcaption {
    text-align: center;
    margin: 0;
}
